@import "vars.scss";


.div__main-container{ 
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
    width: 960px;
    height: 761px;
    top: 926px; 
    display: flex;
    .video__background--deg{
        position: absolute;
        z-index: -1;
    }
}

.div__contairer-tittle{
position: absolute;
width: 460px;
height: 72px;
left: 245px;
top: 105px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

.h2__tittle--black{
font-family: 'Abril Fatface';
font-style:normal;
font-weight: 800;
font-size: 32px;
line-height: 43px;
display: flex;

color: black;
}
}

.div__container--items{
    width: 896px;
    height: 463px;
   

.div__container-text--white{
width: 360px;
height: 700px;
position: absolute;
padding: 20px;
margin: 20px;

.h3__text--ebony{
position: absolute;
width: 218px;
height: 32px;
left: 32px;
top: 300px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: white;
}

.h5__text--val{
position: absolute;
width: 71px;
height: 14px;
left: 32px;
top: 341px;

font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-size: 12px;
line-height: 14px;

display: flex;
align-items: center;
letter-spacing: 0.05em;

color: white;
}

.section__items--stars{
    .img__star{
        margin: 0 4px;
    }
    position: absolute;
    width: 16px;
    height: 16px;
    left: 100px;
    top: 367px;
    display: flex;
}


.h3__text--price{
position: absolute;
width: 224px;
height: 32px;
left: 32px;
top: 372px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: white;
}

.p__lorem--white{
position: absolute;
width: 360px;
height: 131px;
left: 32px;
top: 425px;

font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.05em;

color: white;
}

.ul__feature-list--white{
    .li__menu
    {
    margin: 10px;
}
padding: 10px;
position: absolute;
width: 305px;
height: 20px;
left: 40px;
top: 520px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

display: flex;
align-items: center;

color: white;

}

.button__add--black{
position: absolute;
width: 228px;
height: 32px;
left: 32px;
top: 579px;

background: black;
border-radius: 8px;
border: none;

color: white;
}
}

.div__container--imgs{
width: 360px;
height: 700px;
position: absolute;
left: 100px;
display: flex;
align-items: center;

.img__fig--opaco{
position: absolute;
left: 400px;
right: -43.21%;
top: 40%;
bottom: 64.09%;
}

.img__fig--trans{
position: absolute;
left: 420px;
right: 7.52%;
top: 47%;
bottom: 66.39%;
}

.img__horseshoe--white{
position: absolute;
width: 362.65px;
height: 180.21px;
left: 420px;
top: 240px;
}

.img__piano--caoba{
position: absolute;
width: 369.15px;
height: 308.53px;
left: 370px;
top: 263px;
display: flex;
}
}
}

@media only screen and (max-width:600px){
    .div__container--items{
        display: flex;
        
    }
}
